<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="launcher.dumb.pavan.unlabbed.com.dumblaunch">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
    
        <activity android:name="launcher.dumb.pavan.unlabbed.com.dumblaunch.HomeActivity"
            android:label="Dumb Launcher"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="launcher.dumb.pavan.unlabbed.com.dumblaunch.AppsListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        
    </application>

</manifest>
